*{margin: 0;padding: 0;}

body{
    background-color: #FDFBF8;
}

header{
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: fixed;
    background-color: #FDFBF8;
    top: 0;
}
/*vaya a la seccion seleccionada de una manera mas suave*/
html{
    scroll-behavior: smooth; 
 }

.logo{
    text-align: center;
}

.logo img{
    width: 9em;
}

.nav-info{
    list-style: none;
    display: inline-flex;
    float: left;
    margin-top: -3em;
    margin-left: 12em;
    gap: 2em;
}

.nav-info a{
    color:black ;
    text-decoration: none;
    font-family: 'Cormorant SC';
    font-weight: 900;
}

.nav-info a:hover{
    background: #E0BEB1;
    border-radius: 50px;
    color: black;
}

.nav-icon{
    list-style:none;
    display:inline-flex;
    float: right;
    margin-top: -3em;
    margin-right: 12em;
    gap: 2em;
}

.nav-icon a{
    color:black ;
    text-decoration: none;
    font-family: 'Cormorant SC';
    font-weight: 900;
}

.nav-icon a:hover{
    background: #E0BEB1;
    border-radius: 50px;
    color: black;
}

.nav-icon i{
    font-size: 20px;
}

.about-us-info{
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.browse-shop{
    margin-top: 7em;
    margin-left: 19em;
    max-width: 100vw;
}

.browse-shop h2{
    font-family: 'Crimson Text', serif;
    font-size: 2.5em;
    font-weight: 200;
    color: black;
    padding-bottom: .5em;
}

.categories{
    margin-left: 1.5em;
    max-width: 100vw;
}
 .categories h3{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    font-weight: 200;
    color: black;
    padding-bottom: .5em;
 }

 .shop-categories{
    list-style: none ;
    display: inline-flex;
    float: left;
    gap: 1em;
    
 }

 .shop-categories li{
    text-decoration: none;
    border-style: solid;
    padding: .5em;
    border-width: 1px;
    border-color: #C67C6F;
 }

 .shop-categories li a{
    color: #C67C6F;
    text-decoration: none;
 }

 .shop-categories  li:hover{
    background-color: #C67C6F;
    text-transform: none;
    transition: .5s;
 }

 .shop-categories a:hover{
    color: white;
 }

#all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
    gap: 1em;
    margin-bottom: 5em;
}

.shop-container-all img{
    width: 400px;
    height: 600px;
    text-align: left;
    margin-top: 3em;
}

.shop-container-all p{
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    line-height: 2em;
    display: block;
}

.shop-container-all button{
    background-color: black;
    font-family: 'Questrial', sans-serif;
    color: #C67C6F;
    font-size: 1.3em;
    border-radius: 5px;
    margin-left: 7em;
}

footer{
    background-color: black;
    position: relative;
    width: 100%;
    padding: 40px 0px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;

}


.contact-info h3{
    font-size: 25px
}

.paragraph-contact{
    font-size: 15px;
    padding-bottom: 2em;
}


#Mail{
    background-color: black;
    font-size: 1.4em;
    padding:10px;
    border-width: 0 2px 2px 0;
    border-color: #FFFFFF;
    width: 17em;
    margin-right: 2em;
    color: #FDFBF8;
}

::placeholder{
    color: #FDFBF8;
    font-family:'Questrial', sans-serif;
    font-size: 1em;
}


button{
    position: absolute;
    margin-left: -10.5em;
    margin-top: .7em;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: white;
    background-color: black;

}

#Celular{
    background-color: black;
    font-size: 1.4em;
    padding:10px;
    border-width: 0 2px 2px 0;
    border-color: #FFFFFF;
    width: 17em;
    color: #FDFBF8;
}

::placeholder{
    color: #FDFBF8;
    font-family:'Questrial', sans-serif;
    font-size: 1em;
}

.paragraph-info{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
}

.social-web{
    margin-top: 5em;
    display: flex ;
    flex-direction:row ;
    justify-content: center;
    text-align: center;
    gap: 30em;
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.social-web i{
    font-size: 30px;
    color: #E0BEB1;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.contact-footer h2{
    padding-bottom: 5px;
    color: #FDFBF8;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
}

.contact-footer p{
    color: #E0BEB1;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.footer-about-us h2{
    padding-bottom: 10px;
    color: #FDFBF8;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
    padding-top: 15px;
}

.footer-about-us p{
    color: #E0BEB1;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.box-footer h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FDFBF8;
    font-weight: 700;
    font-family: 'Questrial', sans-serif;
}

.box-footer a{
    margin-top: 10px;
    color:#E0BEB1 ;
    font-weight: 600;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
}

.box-copyright{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{
    font-family: 'Questrial', sans-serif;
    margin-top: 20px;
    color:#FDFBF8 ;
}

.box-copyright hr{
    width: 1200px;
    border: none;
    height: 1px;
    background-color: #FDFBF8;
}