*{margin: 0;padding: 0;}

body{
    background-color: #FDFBF8;
}

header{
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #FDFBF8;
    margin-top: -13vh;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

html{
   scroll-behavior: smooth; 
}

.logo-container{
    width: 23%;
}

.logo{
    width: 13vh;
}

.nav-info-container{
    width: 20%;
}

.nav-info{
    list-style: none;
    display: inline-flex;
    gap: 2vh;
}

.nav-info a{
    color:black ;
    text-decoration: none;
    font-family: 'Cormorant SC';
    font-weight: 900;
}

.nav-info a:hover{
    background: #E0BEB1;
    border-radius: 50px;
    color: black;
}

.nav-icon-container{
    width: 3%;
}

.nav-icon{
    list-style: none;
    display: inline-flex;
    gap: 2vh;
}

.nav-icon a{
    color: black;
    text-decoration: none;
    font-family: 'Cormorant SC';
    font-weight: 900;
}

.nav-icon a:hover{
    background: #E0BEB1;
    border-radius: 50px;
    color: black;
}

.about-us-info{
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.about-us-info img{
    width: 50vh;
    border-radius: 100%;
    float: left;
    margin-left: 19vh;
    display: block;

}

.about-us-info h2{
    font-family: 'Junge', serif;
    font-size: 5vh;
    margin-top: 13vh;
    margin-right: 24vh;
    padding-top: 8vh;
}

.about-us-info p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 20vh;
    margin-left: 45vh;
    line-height: 1.5;
    margin-bottom: 12vh;
    padding-top: 3vh;
}

.about-fenty-info{
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.about-fenty-info img{
    width: 50vh;
    border-radius: 100%;
    float: right;
    margin-right: 19vh;
    display: block;  
    padding-top: 5vh;  
}

.about-fenty-info h2{
    font-family: 'Crimson Text', serif;
    font-family: 'Junge', serif;
    font-size: 5vh;
    margin-top: 8vh;
    margin-right: 8vh;
    padding-top: 8vh;
}

.about-fenty-info p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 74vh;
    margin-left: 9vh;
    padding-top: 3vh;
    line-height: 1.5;
    margin-bottom: 10vh;
}

.about-rare-info{
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.about-rare-info img{
    width: 50vh;
    border-radius: 100%;
    float: left;
    margin-left: 19vh;
    display: block;
    padding-top: 5vh; 
}

.about-rare-info h2{
    font-family: 'Crimson Text', serif;
    font-family: 'Junge', serif;
    font-size: 5vh;
    margin-top: 13vh;
    margin-right: 24vh;
    padding-top: 8vh;
}

.about-rare-info p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 20vh;
    margin-left: 45vh;
    line-height: 1.5;
    padding-top: 3vh;
}

.shop{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140vh;
    gap: 3vh;
}

.shop h2{
        font-size: 5vh;
        text-transform: uppercase;
        font-weight: 700;
        font-family:'Lato', sans-serif;
        padding-top: 15vh;
        padding-bottom: 12vh;
}

.container-section-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container-element-info{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: all .25s;
    margin: 2vh;
}

.container-element-info:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}

.container-element-info p{
    color: black;
    font-size: 4vh;
    text-align: center;
    font-weight: 900;
    padding: 0 1rem;
    width: 75%;
    font-family:'Lato', sans-serif;
    position: absolute;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0);
}

footer{
    background-color: black;
    position: relative;
    width: 100%;
    padding: 40px 0px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;

}


.contact-info h3{
    font-size: 25px
}

.paragraph-contact{
    font-size: 15px;
    padding-bottom: 2vh;
}


#Mail{
    background-color: black;
    font-size: 2vh;
    padding:10px;
    border-width: 0 2px 2px 0;
    border-color: #FFFFFF;
    width: 38vh;
    color: #FDFBF8;
}

::placeholder{
    color: #FDFBF8;
    font-family:'Questrial', sans-serif;
    font-size: 2vh;
}


button{
    position: absolute;
    margin-left: -10.5vh;
    margin-top: .9vh;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5vh;
    font-weight: 300;
    color: white;
    background-color: black;

}

#Celular{
    background-color: black;
    font-size: 2vh;
    padding:10px;
    border-width: 0 2px 2px 0;
    border-color: #FFFFFF;
    width: 38vh;
    color: #FDFBF8;
}

::placeholder{
    color: #FDFBF8;
    font-family:'Questrial', sans-serif;
    font-size: 2vh;
}

.paragraph-info{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.social-web{
    margin-top: 8vh;
    display: flex ;
    flex-direction:row ;
    justify-content: center;
    text-align: center;
    gap: 45vh;
    color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.social-web i{
    font-size: 30px;
    color: #E0BEB1;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.contact-footer h2{
    padding-bottom: 5px;
    color: #FDFBF8;
    font-family: 'Questrial', sans-serif;
    font-size: 3vh;
}

.contact-footer p{
    color: #E0BEB1;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5vh;
    font-weight: 500;
}

.footer-about-us h2{
    padding-bottom: 10px;
    color: #FDFBF8;
    font-family: 'Questrial', sans-serif;
    font-size: 3vh;
    padding-top: 15px;
}

.footer-about-us p{
    color: #E0BEB1;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5vh;
    font-weight: 500;
}

.box-footer h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FDFBF8;
    font-weight: 700;
    font-family: 'Questrial', sans-serif;
}

.box-footer a{
    margin-top: 10px;
    color:#E0BEB1 ;
    font-weight: 600;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
}

.box-copyright{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{
    font-family: 'Questrial', sans-serif;
    margin-top: 20px;
    color:#FDFBF8 ;
}

.box-copyright hr{
    width: 1200px;
    border: none;
    height: 1px;
    background-color: #FDFBF8;
}